# Neon PostgreSQL - Connection Pooling (for Prisma)
DATABASE_URL="postgresql://username:password@ep-xxx.ap-southeast-1.aws.neon.tech/nba_tech_engineer?sslmode=require"

# Neon PostgreSQL - Direct (for Prisma migrations)
DATABASE_URL_UNPOOLED="postgresql://username:password@ep-xxx.ap-southeast-1.aws.neon.tech/nba_tech_engineer?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="your-secret-key-at-least-32-chars"
NEXTAUTH_URL="http://localhost:3000"
