@import "tailwindcss";

:root {
  --font-sarabun: "Sarabun", sans-serif;
}

body {
  font-family: var(--font-sarabun), var(--font-geist), sans-serif;
  background-color: #f5f7fa;
}

/* Scrollbar */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #c1c1c1; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #1565c0; }
